<div *ngIf="!Isloggin">
  <ion-header class="docs-header header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'RESET_PASSWORD' | xlat}}</ion-title>

  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="loginBox">
          <ion-card-header no-padding>
            <div class="login-logo">
              <img src="assets/img/logo.png" alt="Ionic logo">
            </div>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)" novalidate>
              <ion-list>
                <ion-item>
                  <ion-label position="stacked" color="primary">{{'PASSWORD' | xlat}}</ion-label>
                  <ion-input maxlength="50" placeholder="{{'PASSWORD' | xlat}}" [formControl]="changePasswordForm.controls['password']"
                    name="username" type="password" spellcheck="false" autocapitalize="off" required>
                  </ion-input>
                </ion-item>
                <ion-text color="danger">
                  <div *ngIf="changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].touched"
                    class="text-danger text-left">{{'FIELD_REQUIRED' | xlat}}</div>
                </ion-text>
                <ion-item>
                  <ion-label position="stacked" color="primary">{{ 'PASSWORD2' |
                    xlat}}</ion-label>
                  <ion-input maxlength="50" name="password2" placeholder="{{ 'PASSWORD2' | xlat}}" type="password"
                    [formControl]="changePasswordForm.controls['password2']" required>
                  </ion-input>
                </ion-item>
                <ion-text color="danger">
                  <div *ngIf="changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].touched"
                    class="text-danger text-left">{{'FIELD_REQUIRED' | xlat}}</div>
                </ion-text>
                <ion-text color="danger">
                  <div *ngIf="changePasswordForm.controls['password2'].hasError('notEquivalent') && (changePasswordForm.controls['password2'].touched)"
                    class="text-danger text-left">{{'PASSWORD_MISSMATCH' | xlat}}</div>
                </ion-text>

              </ion-list>
              <ion-row responsive-sm>
                <ion-col>
                  <ion-button [disabled]="!changePasswordForm.valid" type="submit" expand="block">{{'SUBMIT_TITLE'
                    | xlat}}</ion-button>
                </ion-col>
              </ion-row>
            </form>
            <div *ngIf="linkExpired">
              {{'LINK_EXPIRED' | xlat}} <a routerLink="/"> {{'HERE' | xlat}} </a>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>