// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
  position: static;
  margin: 0 auto;
  padding: 0;
  background-image: url("~/assets/img/suplai-bg.png");
  background-attachment: scroll;
  background-repeat: repeat;
  height: 100%;
}

.modal-wrapper {
  max-width: 600px !important;

  ion-content {
    --background: #fff;
  }

  .header-md:after {
    background-image: none !important;
  }
}

ion-content {
  --background: url('~/assets/img/suplai-bg.png') repeat 100% 100%;
}

.docs-container {
  background-image: url("~/assets/img/suplai-bg.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

.loading {
  position: fixed;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.loading img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-logo {
  width: 100%;

  img {
    margin: 0 auto;
    text-align: center;
    max-width: 110px;
  }
}

.container {
  width: 100%;
}


/* resize images */

.container img {
  width: 100%;
  height: auto;
}

.text-upload {
  font-size: 1.3em;
  margin-left: 5%;
  margin-right: 5%;
  background: white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
  margin-bottom: 0%;
  border: 1px solid black;
  opacity: 0.6;
}

.text-box-upload {
  text-align: center;
}

.features-text {
  text-align: center;
  font-size: 1.1em;
}

.price-text {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Courgette', cursive;
  color: #ED7D31;
}

.price-cond-text {
  text-align: center;
  font-size: 0.8em;
}

.app-name {
  font-family: 'Courgette', cursive;
  color: #ED7D31;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.addressCard {
  margin-left: 10px;
}

.choose-address-text {
  text-align: center;
  background-color: white;
}

.logo-img {
  display: block;
  width: 30%;
}

.scroll-content {
  background-image: url("~/assets/img/suplai-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.customSpinner {
  text-align: center;
  margin-top: 50%;
}

.loginSpinner {
  text-align: center;
  margin-top: 1%;
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

.product-card-text {
  font-size: 14px;
}

.button-fixed {
  position: fixed;
}

.button-position {
  margin-top: 5%;
}

.order-button {
  margin-left: 20%;
  width: 60%;
  margin-top: 5%;
}

.order-button-text {
  color: white;
}

.input-label-custom {
  width: 100%;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.feed-button {
  width: 50%;
  font-size: 0.8em;
}

.button-feed-text {
  font-size: 1em;
  text-align: center;
}

.menu-title {
  float: left;
  font-family: Montserrat, arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFB03B;
}

.docs-container>main {
  margin-left: 0;
  max-width: 600px;
  margin: 0 auto;
}

.mobileMainPadding {
  padding: 0 !important;
}

@media only screen and (min-width: 500px) {
  .container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .scroll-content {
    background-image: url("~/assets/img/suplai-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }

  ion-menu,
  .scroll-content {
    overflow-y: auto; // or "overflow: auto;"
  }
}

// custom css
// start media query

@media only screen and (max-width: 576px) {
  .btnAddproducts {
    width: 100%;
  }
}

@media only screen and (max-width: 596px) {

  .qtyAlign {
    min-width: 100% !important;
    max-width: 100% !important;
  }

}

.desktopNoboxshadow {
  box-shadow: none !important;
}

span.placeorderqtyalign-media.qtyAlign {
  text-align: center !important;
}

@media only screen and (max-width: 596px) {
  span.placeorderqtyalign-media.qtyAlign {
    text-align: center !important;
  }
}

@media only screen and (max-width: 767px) {
  .label-date {
    padding: 0;
  }

  .placeorderqtyalign-media {
    position: relative;
    top: 8px !important;
    text-align: left !important;
    margin-bottom: 16px !important;
    cursor: pointer;
  }

  table {
    font-size: 12px !important;
  }

  .mobileSearchWidth {
    min-width: 100% !important;
  }

  .gridSearchbox .sc-ion-searchbar-md-h {
    width: 100% !important;
  }

  .modalAlignReviewOrder ion-datetime {
    position: relative;
    top: -10px;
    font-size: 14px;
  }

  .modal-wrapper ion-content {
    bottom: 0 !important;
  }

  ion-card.sc-ion-card-ios-h.sc-ion-card-ios-s.hydrated {
    width: 96% !important;
  }

  ion-title.title-md.hydrated {
    padding: 10px 0;
  }

  .orderCardBtnALign {
    margin-left: auto !important;
  }

  .mobileCardPadding {
    padding: 3px 0 !important;
  }

  .mobileMainPadding {
    padding: 0 !important;
  }

  .mobileNoboxshadow {
    box-shadow: none !important;
  }

  .btn-input-group2 .qtyAlign {
    min-width: auto !important;
    max-width: calc(100% - 130px) !important;
    width: 100%;
  }

  .qtyAlign {
    position: relative;
    top: 8px !important;
    text-align: center;
    cursor: pointer;
  }

  .cartqtyAlign {
    position: relative;
    top: 0px !important;
    text-align: left !important;
    left: 4px;
    max-width: 100% !important;
    width: 100%;
    min-width: 0px !important;
  }

  .loginBox {
    padding: 0 !important;
    transform: translate(0%, 10%) !important;
  }

  .docs-header {
    height: 80px;
  }

  .modal-wrapper {
    max-width: 100% !important;
  }

  .cstSearchCustomer {
    top: 0px !important;
  }

  ion-content {
    --background: #fff !important;
  }

  .activeInactive {
    top: 10px !important;
  }

  .warningIcon {
    right: 0 !important;
    color: #f00;
    top: 40px !important;
    font-size: 56px;
    float: right;
  }

  .sc-ion-card-md-h {
    padding: 0 5px !important;
  }

  .docs-container main {
    padding: 0 0px 100px;
    margin-top: 0 !important;
    background: #fff;
  }

  .mb50 {
    margin-bottom: 0 !important;
  }

  .docs-header {
    margin-bottom: 0 !important;
  }

  body {
    background: #fff;
  }

  .loginBox {
    transform: translate(0%, 50%);
    max-width: 100%;
    margin: 0 auto;
  }

  .sc-ion-card-ios-h {
    margin: 5px 6px !important;
    padding: 0 10px !important;
  }
}

//   end media query
a.btnEdit {
  font-size: 13px;
  position: relative;
  top: 0px;
  z-index: 9999;
}

.orderUL {
  margin-left: 16px;
}

app-login.ion-page {
  display: contents;
}

.loginBox {
  max-width: 330px;
  margin: 0 auto 0 auto !important;
  transform: translate(0%, 10%);
  background: #fff;
  padding: 20px;
}

.docs-header {
  background-color: #ff914d;
  border: none;
  color: var(--header-color-secondary);
  grid-area: header;
  position: relative;
  padding: 15px 0rem;
  margin-bottom: 50px;
}

.docs-content {
  margin: 0 auto;
}

.container {
  width: 1366px;
  margin: 0 auto;
  background: #fff;
}

.card-content-md {
  background: #fff;
}

.docs-container>aside+main {
  margin-right: 407px;
  min-height: 777px;
}

.docs-container main {
  padding: 0px 0px 100px;
}

main {
  overflow: hidden;
}

.no-margin {
  margin: 0 !important;
}

.mb10 {
  margin-bottom: 10px;
}

ion-title.title-md.hydrated {
  text-align: center;
  font-size: 22px !important;
  font-weight: bold;
}

ionic-search {
  display: block;
  display: inline-block;
  margin-left: auto;
  margin-right: 44px;
}

button.searchbar-clear-button.sc-ion-searchbar-ios {
  display: none !important;
}

button.searchbar-clear-button.sc-ion-searchbar-md {
  display: none !important;
}

searchbar-clear-button sc-ion-searchbar-ios {
  display: none;
}

.icon-inner,
svg {
  display: block;
  fill: currentColor;
  stroke: currentColor;
  height: 100%;
  width: 100%;
  display: none;
}

input.searchbar-input.sc-ion-searchbar-md {
  background: #ffdec9;
  border-radius: 4px;
  color: #000;
}

hr {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 0.5px;
  background: #fff;
  color: #ddd;
  height: auto;
}

a {
  cursor: pointer;
}

.alert-wrapper.sc-ion-alert-md,
.sc-ion-loading-md-h {
  box-shadow: none;
}

.sc-ion-card-md-h {
  padding: 0px;
  background: #fff;
}

.buttonOrange {
  background: #ff914d;
  color: #000;
}

#customer ion-item.in-list.item.item-label {
  --inner-border-width: 0;
  --border-width: 0;
}

ion-item.in-list.item.item-label.hydrated.item-interactive.item-input.item-has-value {
  --highlight-color-focused: none !important;
}

#orderComponent ion-item.in-list.item.item-label.hydrated {
  --inner-border-width: 0;
}

#orderComponent {
  .sc-ion-card-ios-h {
    padding: 0 5px !important;
    margin: 10px 6px !important;
  }
}

#customer ion-label {
  max-width: 410px;
}

:host(.fab-button-small) {
  margin: -5px;
  bottom: 0;
}

.customTextarea {
  border: 1px solid #ddd;
}

.native-textarea {
  border: 1
}

.customColAlign {
  float: left;
  padding: 10px;
}

.customColAlign h6 {
  margin: 4px;
  font-weight: normal;
  color: #000;
}

float-left {
  float: left;
}

float-right {
  float: right;
}

.padding0 {
  padding: 0;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.qtyAlign {
  position: relative;
  top: 8px;
  min-width: 140px;
  max-width: 140px;
  text-align: center;
  cursor: pointer;
}

.cartqtyAlign {
  position: relative;
  top: 8px;
  min-width: 140px;
  max-width: 140px;
  text-align: center;
  cursor: pointer;
}

* {
  white-space: normal;
}

h2 {
  text-transform: capitalize;
  white-space: normal;
}

.card-content-ios p {
  text-transform: lowercase;
}

.card-content-ios {
  padding: 0 !important;
}

app-more-settings.ion-page {
  display: flow-root;
}

ion-card.sc-ion-card-ios-h.sc-ion-card-ios-s.hydrated {
  width: 100%;
}

.card-content-md {
  padding: 0 !important;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.hydrated {
  margin: 0
}

.sc-ion-label-md-s h2 {
  font-weight: bold;
  margin: 6px 0;
}

.sc-ion-label-md-s>p {
  color: #101010;
  margin: 0 0 1px;
}

input.searchbar-input.sc-ion-searchbar-ios {
  margin-left: 0;
  outline: none;
  border: none;
  border-radius: 24px;
  padding: 6px 55px;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-transition: opacity .2s, background-color .2s;
  transition: opacity .2s, background-color .2s;
  background: #ffdec9;
  border-radius: 20px;
  color: #000;
  line-height: 30px;
  font-weight: 400;
}

.sc-ion-searchbar-ios-h {
  height: 50px !important;
  padding: 0
}

.cstSearchCustomer {
  top: 0;
}

.width100 {
  width: 100% !important;
}

.mb0 {
  margin-bottom: 0;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px !important;
}

.warningIcon {
  right: 10px;
  color: #f00;
  top: 60px;
  font-size: 56px;
  float: right;
}

#customer .sc-ion-card-md-h {
  margin-bottom: 0px !important;
}

.warningIcon p {
  font-size: 24px;
}

ion-label.sc-ion-label-ios-h.sc-ion-label-ios-s.hydrated {
  margin-bottom: 0;
}

.sc-ion-label-ios-s p {
  margin: 3px 0 2px;
  color: #101010;
}

ion-input.cstInput.ng-untouched.ng-pristine.ng-valid.ion-untouched.ion-pristine.ion-valid.in-item.has-value.hydrated {
  width: 90px;
  float: left;
}

.customInput {
  float: left;
  width: 85px;

  native-input {
    padding-bottom: 0 !important;
  }
}

.cstInput {
  position: relative;
  top: 10px;
  left: 6px;
  border-bottom: 1px solid #ddd;
}

.typo {
  font-size: 14px;
  color: #101010;
}

.customInput {
  float: left;
  width: 85px;
  position: relative;
  top: -9px;
}

.typocel {
  float: left;
  width: 85px;
  position: relative;
  top: 1px;
  left: 8px;
}

.celButton {
  font-size: 14px;
}

.mb10 {
  margin-bottom: 10px !important;
}

.celGridAlign {
  margin-top: 4px;
  float: left;
}

input.searchbar-input.sc-ion-searchbar-md {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 0 auto;
}

.item-input.sc-ion-label-md-h,
.item-input .sc-ion-label-md-h {
  pointer-events: auto !important;
}

.cstFabButton {
  width: 30px;
  height: 30px;
  position: relative;
  top: 4px;
  right: 10px;
}

@supports (-ms-ime-align:auto) {
  .cstFabButton {
    top: 10px;
  }
}

.cstFabButtonPlaceOrder {
  width: 30px;
  height: 30px;
  position: relative;
  top: 8px;
}

.brandimg {
  width: 64px;
  height: 64px;
  margin-right: 16px;

}

.whatsappBtn {
  --ion-color-base: #25D366 !important;
}

.activeInactive {
  z-index: 999;
  width: 100%;
  float: right;
  padding: 6px;
  position: relative;
}

.gridSearchbox {
  background: transparent;

  main {
    padding: 0 !important;
    background: transparent;
    ;
  }

  ion-toolbar.hydrated {
    --background: transparent;
  }

  .sc-ion-searchbar-md-h {
    width: 100% !important;
    max-width: 573px;
    // margin: 0 auto;
    margin-right: 3px;
    padding: 0;
  }
}

.gridSearchbox.toolbar-background {
  --background: #fff !important;
}

#settingContent {
  ion-item {
    --inner-border-width: 0;
    padding: 5px 0;
  }
}

#customerItemGrid {
  ion-item.in-list.item.item-label.hydrated.item-interactive.item-input.item-has-focus {
    --highlight-color-focused: none !important;
  }

  ion-input.cstInput.typo.in-item.hydrated.ng-dirty.ng-touched.ng-invalid.ion-dirty.ion-touched.ion-invalid.has-focus {
    background: #fff;
    --highlight-color-focused: none !important;
    border-bottom: 1px solid #ddd;
  }
}

.boxShadow {
  background-image: none !important;
}

.gridSearchCard {
  background: transparent !important;
  margin-top: 10px;
  height: 42px;
  max-width: 573px;
  margin: 1px;
}

.listProductsAlign {
  height: 44px !important;
  float: left;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.rowProductsAlign {
  height: 34px !important;
}

.rowProductsAlign:nth-child(odd) {
  background: #ddd;
  margin: 1px;
}

.rowProductsAlign:nth-child(even) {
  background: #f00;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.orderCardBtnALign {
  margin-left: 88px;
}

.dateItem {
  padding-left: 0 !important;
  position: relative;
  left: -16px;
  --border-width: 0 !important;
}

.orangeColor {
  color: #ff914d
}

ion-footer {
  background: #ddd;
}

.odd {
  color: blue;
}

.even {
  color: green;
}

table {
  border-width: 1px 0 0 1px;
  font-size: 13px;
  margin: 0em 0;
  min-width: 100%;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tfoot {
  background: #ccc;
  color: #000;
}

tbody tr:nth-child(odd) {
  background-color: #ffdec9;
}

td,
th {
  border-width: 0 1px 1px 0;
  line-height: 1.4;
  padding: 1em;
  text-align: left;
}

table,
td,
th {
  border-style: solid;
  border-collapse: collapse;
}

.activeInactive {
  ion-button {
    cursor: none;
  }
}

a.onlineStatusBtn {
  color: #000;
  position: relative;
  padding: 10px;
}

a.offlineStatusBtn {
  color: #000;
  position: relative;
  padding: 10px;
}

.circleGreen {
  width: 20px;
  height: 20px;
  background: #11dc5f;
  float: left;
  border-radius: 20px;
  position: relative;
  border: 3px solid #fff;
}

.circleRed {
  width: 20px;
  height: 20px;
  background: #f04041;
  float: left;
  border-radius: 20px;
  position: relative;
  border: 3px solid #fff;
}

.logoutBtn {
  font-size: 12px;
  color: #fff;
  padding: 0px;
  cursor: pointer;
  position: relative;
  top: -7px;
  right: 10px;
}

.cameraBtn {
  font-size: 12px;
  color: #fff;
  padding: 0px;
  cursor: pointer;
  position: relative;
  top: -7px;
  right: 10px;
}

.modalAlignReviewOrder {
  ion-datetime {
    position: relative;
    top: -10px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  .login-logo img {
    max-width: 45px !important;
    background: #f00;
  }

  .loginBox {
    -webkit-transform: translate(0%, 0%) !important;
    transform: translate(0%, 0%) !important;
  }
}

// end media query orientation: landscape

ion-footer.footer.footer-md.hydrated {
  width: 100%;
  bottom: 0;
  height: auto;
}

button.button-native {
  padding: 18px 10px !important;
}

.modalAddProduct {
  z-index: 999 !important;
}



.thumbnail {
  max-width: 40%;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.8em;
}

/** LIGHTBOX MARKUP **/

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

.ml0 {
  margin-left: 0
}

.mr0 {
  margin-right: 0
}

.ellipseSearch input {
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.text_style_1 {
  color: #f00;
  margin-top: 5px;
  display: flex;
  align-items: center;
  background: transparent;
}

.text_style_1:focus {
  outline: 0;
}

.ellipses {
  width: 50px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
